@import '../../../../styles/variables';

.form {
  &-predictions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  &-group {
    label {
      font-size: 1.2rem;
    }

    .mat-input-element {
      text-align: center;
    }
  }
}
