<div class="container">
  <div
    class="message__wrapper-flex message__wrapper-flex--center"
    *ngIf="messageType == 'error'"
  >
    <div class="message message-{{ messageType }}">
      <span *ngIf="messageType == 'error'"> ❌ {{ messageText }} </span>
    </div>
  </div>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!userLoggedIn; else logout"
  >
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          id="email"
          name="email"
          class="form-control"
          formControlName="email"
          required
        />
        <mat-error
          *ngIf="
            !loginForm.get('email').valid && loginForm.get('email').touched
          "
          >This field is required.</mat-error
        >
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          id="password"
          name="password"
          class="form-control"
          formControlName="password"
          required
        />
        <mat-error
          *ngIf="
            !loginForm.get('password').valid &&
            loginForm.get('password').touched
          "
          >This field is required.</mat-error
        >
      </mat-form-field>
    </div>
    <div class="form-group btn-wrapper">
      <button mat-raised-button color="warn" type="submit" [disabled]="!loginForm.valid">
        Login
      </button>
    </div>
  </form>
  <ng-template #logout>
    <div class="logout-wrapper">
      <div class="logout-wrapper__text">
        <div *ngIf="messageType == 'success'">
          <div class="message message-{{ messageType }}">
            <span> ✅ {{ messageText }} </span>
          </div>
          <img
            src="https://media.giphy.com/media/8RxCFgu88jUbe/giphy.gif"
            alt="{{ messageType }}"
          />
        </div>
        <a mat-raised-button color="warn" (click)="onLogout()">Logout</a>
      </div>
    </div>
  </ng-template>
  <div class="message__wrapper-flex message__wrapper-flex--center">
    <span
      *ngIf="!loginForm.valid && loginForm.touched"
      class="message message-error"
    >
      ❌ Issues Issues! ❌
    </span>
  </div>
</div>
