form {
  max-width: 600px;
  margin: 30px auto 0;

  .form-group {
    &:last-child {
      margin-top: 30px;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  label {
    line-height: 1.7;
    font-size: 1.3rem;
    text-transform: none;
  }
}

.logout-wrapper {
  display: flex;
  justify-content: center;
  max-width: 780px;
  margin: 20px auto;

  &__text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > div {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }

    p {
      margin: 0 0 25px;
      text-align: center;
    }

    img {
      max-width: 600px;
      margin: 0 auto 20px;
    }

    a {
      display: inline-block;
      margin-top: 30px;
    }
  }
}
