<div class="container">
  <div class="alert" *ngIf="message">
    {{ message }}
  </div>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!userLoggedIn; else logout"
  >
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        name="email"
        class="form-control"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="text"
        id="password"
        name="password"
        class="form-control"
        formControlName="password"
      />
    </div>
    <div class="form-group btn-wrapper">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </div>
  </form>
  <ng-template #logout>
    <a class="btn btn-primary" (click)="onLogout()">Logout</a>
  </ng-template>
</div>
