@import './variables';

.form-group {
  margin-bottom: 1rem;
}

// Material override
.mat-form-field {
  font-family: $fontHeading;
  width: 100%;
}

mat-label {
  .game__predictions & {
    font-size: 1.6rem;
  }
}
