@import './variables';
@import './breakpoints';

* {
  box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

body {
	background-color: $colorWhite;
	color: $colorBlack;
	font-family: $fontBody;
	font-size: 1.6rem;
	line-height: 1.2;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;

	@include lg-up {
		font-size: 1.8rem;
	}
}

main {
	// 100vh - header - footer
	min-height: calc(100vh - 76px - 21px)
}

li {
	list-style: none;
}

a {
	color: $colorBlack;
	text-decoration: none;
	transition: ease 0.3s;

	&:focus,
	&:hover {
		text-decoration: underline;
	}
}

img {
	display: inline-block;
	height: auto;
	max-width: 100%;
	width: 100%;
}

.message {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	border: 1px solid $colorAlto;
	border-radius: $borderRadius-default;
	margin: 20px 0;
	color: $colorMineShaft;

	&-info {
		border-color: $colorBlueberry;
		color: $colorBlueberry;
	}
}
