// Colors
$colorWhite:            #ffffff;
$colorAlto:             #D4D4D4;
$colorAlto-06:          rgba(212, 212, 212, 0.6);
$colorSilverChalice:    #999999;
$colorMineShaft:        #262626;
$colorBlack:            #000000;

$colorChesnutRose:      #D4645E;
$colorMantis:           #6FC06C;

// Widths
$md-width:                  1024px;
$sm-width:                  768px;
$xs-width:                  375px;
$container-width:           1140px;

$borderRadius-default:      5px;
$boxShadow-default:         0 0 10px $colorAlto;
$boxShadow-default-hover:   0 0 15px $colorAlto;

// Fonts
$fontBody: 'Montserrat', sans-serif;
$fontHeading: 'Noto Sans TC', sans-serif;
