<div *ngIf="game">
  <div class="game-single__header">
    <a [routerLink]="['/games']">< Back to all games</a>
  </div>
  <div class="game-single__body game-single">
    <div class="game__number">
      <h1>Game #{{ game.id }}</h1>
    </div>
    <div class="game__players-wrapper">
      <div class="game__playes-home">
        <div class="player-flag">
          <span *ngIf="homeCountry" class="player-flag">
            <img src="{{ homeCountry.flagImg }}" alt="" />
          </span>
        </div>
        <div class="player-name">
          <span class="game-player">
            {{ homeCountry.name }}
          </span>
        </div>
        <span class="spacer-name">Home</span>
      </div>
      <span class="spacer">:</span>
      <div class="game__playes-away">
        <div class="player-flag">
          <span *ngIf="awayCountry" class="player-flag">
            <img src="{{ awayCountry.flagImg }}" alt="" />
          </span>
        </div>
        <div class="player-name">
          <span class="game-player">
            {{ awayCountry.name }}
          </span>
        </div>
        <span class="spacer-name">Away</span>
      </div>
    </div>
    {{ userLoggedIn ? userLoggedIn : 'false' }}
    <div class="game__predictions" *ngIf="userLoggedIn; else login">
      <h4>My prediciton</h4>
      <app-prediction-add
        [gameId]="game.id"
        [homeCountryId]="game.homeCountryId"
        [awayCountryId]="game.awayCountryId"
        [homeScore]="game.homeScore"
        [awayScore]="game.awayScore"
      ></app-prediction-add>
    </div>
    <ng-template #login>
      <h4>My prediciton</h4>
      <p>In order to add a prediction you must log in!</p>
      <br />
      <a [routerLink]="['/login']">To login link</a>
    </ng-template>
  </div>
  <div class="game-single__footer">
    <div class="footer__right">
      <h4>Predictions by other users</h4>
    </div>
  </div>
</div>
