@import '../../../../styles/variables';
@import '../../../../styles/breakpoints';

.game {
  &-single__header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $colorAlto;
    margin-bottom: 20px;
  }

  &-single__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid $colorAlto-06;

    > div {
      width: 100%;
    }
  }

  &-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px 15px;
    margin: 5px auto 25px;
  }

  &__players-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 35px;
    border: 2px dashed $colorAlto;
    border-radius: $borderRadius-default;
    margin-top: 40px;
    background-color: $colorAlto-01;

    > div {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      max-width: 50%;
      width: 100%;
    }
  }

  &-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    text-align: center;

    @include xs {
      font-size: 2rem;
    }
  }

  &__predictions {
    width: 100%;
    margin-top: 40px;

    h4 {
      text-align: center;
    }
  }
}

.player-flag {
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  max-height: 150px;

  img {
    object-fit: cover;
  }
}

.spacer {
  align-self: center;
  color: $colorMineShaft;
  font-size: 3.8rem;

  &-name {
    display: block;
    font-size: 1.3rem;
    text-align: center;
  }
}
