<div *ngIf="game">
  <div class="game-single__header">
    <a [routerLink]="['/games']">< Back to all games</a>
  </div>
  <div class="game-single__body game-single">
    <div class="game__number">
      <h1>Game #{{ game.id }}</h1>
    </div>
    <div class="game__players-wrapper">
      <div class="game__playes-home">
        <div class="player-flag">
          <span *ngIf="playerHome" class="player-flag">
            <img src="{{ playerHome.flagImg }}" alt="" />
          </span>
        </div>
        <div class="player-name">
          <span class="game-player">
            {{ playerHome.name }}
          </span>
        </div>
        <span class="spacer-name">Home</span>
      </div>
      <span class="spacer">:</span>
      <div class="game__playes-away">
        <div class="player-flag">
          <span *ngIf="playerAway" class="player-flag">
            <img src="{{ playerAway.flagImg }}" alt="" />
          </span>
        </div>
        <div class="player-name">
          <span class="game-player">
            {{ playerAway.name }}
          </span>
        </div>
        <span class="spacer-name">Away</span>
      </div>
    </div>
    <div class="game__predictions" *ngIf="userLoggedIn; else login">
      <h4>My prediciton</h4>
      <app-prediction-add
        [predId]="predId"
        [gameId]="game.id"
        [userId]="userId"
        [playerHomeId]="game.playerHomeId"
        [playerAwayId]="game.playerAwayId"
        [playerHomeScore]="playerHomeScore"
        [playerAwayScore]="playerAwayScore"
      ></app-prediction-add>
    </div>
    <ng-template #login>
      <h4>My prediciton</h4>
      <p>In order to add a prediction you must log in!</p>
      <br />
      <a [routerLink]="['/login']">To login link</a>
    </ng-template>
  </div>
  <div class="game-single__footer">
    <div class="footer__right">
      <h4>Predictions by other users</h4>
      <div *ngIf="predictions$; else noPredictions">
        <app-predictions
          *ngFor="let prediction of predictions$"
          [prediction]="prediction"
        ></app-predictions>
      </div>
      <ng-template #noPredictions>
        <p>Other users haven't added the predictions yet.</p>
      </ng-template>
    </div>
  </div>
</div>
