@import '../../../../styles/variables';

.game {
  &-single__header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $colorAlto;
    margin-bottom: 20px;
  }

  &-single__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid $colorAlto-06;

    > div {
      width: 100%;
    }
  }

  &-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px 15px;
    margin: 5px auto 25px;
  }

  &__players-wrapper {
    display: flex;

    > div {
      margin: 0 10px;
    }
  }

  &-player {
    font-size: 4rem;
  }
}

.spacer {
  color: $colorAlto;
  font-size: 3.8rem;
}
