@import '../../../../styles/variables';
@import '../../../../styles/breakpoints';

.game {
  &-details {
    margin: 5px 0 15px;
    
    > a {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr;
      padding: 20px 15px;
      border-radius: $borderRadius-default;
      border: 1px solid $colorAlto;

      @include sm {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
      }

      &:focus,
      &:hover {
        text-decoration: none;
        box-shadow: $boxShadow-default;
        transform: scale(1.1);
      }
    }
  }

  &__number {
    display: flex;
    align-items: center;
    margin-right: 20px;

    &::after {
      content: ':';
      display: inline-block;
      color: $colorAlto;
      font-size: 2.7rem;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }

  &__players-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 20px 0.5fr 0.5fr;
    align-items: center;
    font-size: 3.6rem;

    @include sm {
      grid-template-columns: 0.5fr 20px 0.5fr;
      font-size: 2.6rem;
    }

    @include xs {
      font-size: 2.2rem;
    }

    > * {
      text-align: center;
    }
  }
}

.prediction-added > a {
  border-color: $colorMantis;

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
  }

  &::before {
    content: 'Prediction added !';
    top: 13px;
    right: 13px;
    padding: 5px 7px;
    border: 2px dashed $colorMantis;
    border-radius: 30px;
    background-color: $colorWhite;
    z-index: 1;
  }

  &::after {
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 50px 0 0 50px;
    border-color: $colorMantis transparent transparent transparent;
  }

  &:focus,
  &:hover {
    border-width: 2px;
  }
}
