<mat-card class="game-details" [class.prediction-added]="predId" matRipple>
  <a [routerLink]="['/games', game.id]">
    <div class="game__number">
      <h3 mat-card-subtitle>Game #{{ game.id }}</h3>
      <mat-chip-list aria-label="Prediction added">
        <mat-chip *ngIf="predId" selected>Prediction added!</mat-chip>
      </mat-chip-list>
    </div>
    <mat-card-content class="game__players-wrapper">
      <mat-card-title class="game__playes-home">
        {{ homeCountryName }}
      </mat-card-title>
      <span>vs</span>
      <mat-card-title class="game__playes-away">
        {{ awayCountryName }}
      </mat-card-title>
    </mat-card-content>
  </a>
</mat-card>
