@import '../../../../styles/variables';
@import '../../../../styles/breakpoints';

.mat {
  &-card {
    top: 0;
    transition: all 280ms cubic-bezier(.4,0,.2,1);

    &:hover,
    &:focus {
      top: -2px;
      box-shadow: 10px 13px 10px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
    }

    a {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }

  &-card-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    > * {
      width: 100%;
      text-align: center;
    }

    span {
      margin: 20px 0;
    }
  }

  &-chip-list {
    position: absolute;
    top: -10px;
    right: -13px;
    transform: rotate(12deg);
    // animation: roate-chip 5s infinite alternate both;
  }
}

.game {
  &-details {
    width: 100%;
    height: 100%;
    opacity: 0.3;

    &.show {
      opacity: 1;
    }
  }

  &__number {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    h3::after {
      content: ':';
      display: inline-block;
    }
  }
}
