<div>
  <h1>All games</h1>
  <hr />
  <div class="games-filter__buttons">
    <button
      mat-button
      (click)="onFilterSelection('all', $event)"
      class="filter-button active"
    >
      Show all
    </button>
    <button
      mat-button
      (click)="onFilterSelection('prediction-added', $event)"
      class="filter-button"
    >
      Predictions added
    </button>
    <button
      mat-button
      (click)="onFilterSelection('prediction-not-added', $event)"
      class="filter-button"
    >
      No predictions
    </button>
  </div>
  <mat-grid-list
    [cols]="breakpoint"
    (window:resize)="onResize($event)"
    gutterSize="10px"
    class="wrapper"
  >
    <mat-grid-tile *ngFor="let game of games$ | async">
      <app-game-details [game]="game" class="game-details"></app-game-details>
    </mat-grid-tile>
  </mat-grid-list>
</div>
